<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="docs.css" />
  </head>
  <body>
    
    <h1>My Blog</h1>
    
    <div id="posts">
      
      <div class="post">
        <h2><a href="/uuid/UUID1">Ruby vs. Java</a></h2>
        <p class="time"><small>October 20, 2008</small></p>
        <p>What is the shortest example code which shows great flaw in Ruby comparing to Java, for example? It is a literal “string”. That’s it. Every time interpreter hits the literal string, it creates a brand new object.</p>
      </div>
      
      <div class="post">
        <h2><a href="/uuid/UUID2">Ruby vs. Io</a></h2>
        <p class="time"><small>October 19, 2008</small></p>
        <p>Ruby to Io is like Java to Ruby.</p>
      </div>
      
    </div>
    
    <div id="footer">
      Copyright 2007—<span id="current-year">2008</span> 
    </div>
    
  </body>
</html>
